In [14]:
import pandas as pd
import json
import os

f1 = open("/home/x-chang713/Baby Project/0a58ef5a-9f01-49bc-9bb7-f13ab042b80f_noPII.json")
f2 = open("/home/x-chang713/Baby Project/0ab502fb-87e9-4764-8bc8-778da2e2bcfb_noPII.json")
f3 = open("/home/x-chang713/Baby Project/0be25f06-b139-424d-8f78-f945dd32f1c9_noPII.json")

js1 = json.load(f1)
js2 = json.load(f2)
js3 = json.load(f3)

accounts = pd.json_normalize(js3, record_path = ["AccountAllocations", "Accounts"])[["Key", "Description"]]

In [15]:
accounts

       Key                           Description
0    Fixed                                 Fixed
1  FixedLT                               FixedLT
2     1YrA                1-Year Indexed Account
3     1YrD         1-Year No Cap Indexed Account
4     1YrF  1-Year High Cap Plus Indexed Account
5      Var                      Variable Account

In [39]:
allocations1 = pd.json_normalize(js1, record_path = ["FundAllocationFuture"])

allocations2 = pd.json_normalize(js2, record_path = ["FundAllocationFuture"])

allocations3 = pd.json_normalize(js3, record_path = ["FundAllocationFuture"])

In [40]:
allocations1

,Key,Name,Manager,Allocation,Type,Category,Group,InceptionDate,ManagementFees,OperatingExpenses,IFRCharge,AsOfDate,Asset,HistoricalData
0,VNGMI,Vanguard VIF Mid Cap Index,Vanguard,100%,Variable,Domestic Equity,IFR Funds,1999-02-09,0.15,0.02,0.39%,2020-12-31,0.001301,"[{'Year': '1999', 'RateOfReturn': '0'}, {'Year..."

In [35]:
allocations2

,Key,Name,Manager,Allocation,Type,Category,Group,InceptionDate,ManagementFees,OperatingExpenses,IFRCharge,AsOfDate,Asset,HistoricalData
0,VNGMI,Vanguard VIF Mid Cap Index,Vanguard,100%,Variable,Domestic Equity,IFR Funds,1999-02-09,0.14,0.03,0.39%,2021-12-31,0.004232,"[{'Year': '1999', 'RateOfReturn': '0'}, {'Year..."

In [41]:
allocations3

,Key,Name,Manager,Allocation,Type,Category,Group,InceptionDate,ManagementFees,OperatingExpenses,IFRCharge,AsOfDate,Asset,HistoricalData
0,VNGMI,Vanguard VIF Mid Cap Index,Vanguard,100%,Variable,Domestic Equity,IFR Funds,1999-02-09,0.15,0.02,0.39%,2020-12-31,0.001301,"[{'Year': '1999', 'RateOfReturn': '0'}, {'Year..."

In [52]:
allocations_merged = pd.concat([allocations1, allocations2, allocations3])

In [54]:
allocations_merged["Allocation"]

0    100%
0    100%
0    100%
Name: Allocation, dtype: object

All 3 of the users have a 100% allocation in the Vanguard VIF Mid Cap Index.

In [55]:
riders = pd.json_normalize(js1, record_path = ["Riders"])

In [56]:
riders

,Idx,Category,Name,Remark
0,1,Automatic,Conversion Rider,NaN
1,2,Automatic,Minimum Indexed Benefit Rider,NaN
2,3,Automatic,Overloan Protection 3 Rider,NaN
3,4,Optional,Accelerated Death Benefit Rider for Chronic an...,Check Opt Out
4,5,Automatic,No Lapse Guarantee Rider (Short-Term No Lapse ...,NaN
5,6,Optional,Accelerated Death Benefit Rider for Terminal I...,Added

Conversion Rider is automatically added.  You can convert your policy to any cash value life insurance policy during the 8th year.

Minimum Indexed Benefit Rider is automatically added. You get this thing called the Indexed Termination Credit.

Overloan Protection 3 Rider is automatically added. This guarantees the policy will not lapse.

Accelerated Death Benefit Rider for Chronic and Terminal Illness (Premier Living Benefits Rider 2) is optional. Doesn't appear to be listed in the PDF.

No Lapse Guarantee Rider (Short-Term No Lapse Guarantee) is automatically added. Your death benefit is guaranteed while this rider is in effect.

Accelerated Death Benefit Rider for Terminal Illness (Terminal Illness Rider) is optional. Also doesn't seem to be listed in the PDF.